/*Universal selector used on webpage, box-sizing: border-box is used to include the padding and border in and element's total width and height, in this case we won't have any padding or margin, but the border will be calculated on size. This is useful is you used padding or margins on an element and you want all elements to be the same size  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color of our body section */
body {
    background-color: #d9dcd6;
}

/* Added a fixed position on the header to make it easier to nav, fixed widht to 100% */
.header {
    padding: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    position: fixed;
}

/* h1 tag is inside the header class just in case if h1 is used on the webpage not to mess with the nav menu */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*This class changes the color of text to light gray */
.seo {
    color: #d9dcd6;
} 

/* This code sets the main navigation on header, font family, font size, margins and float direction */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This changes the list elements inside the nav element to not have bullet points and display inline*/
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* This code change the attributes of a href links to be white and not underlined */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This is the hero image, the main big image on the page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This class makes our content 75% wide and gives margin to sepate from the aside, display: inline-block make the content flow like inline element but have width and height like a block element */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*This class formats the services section */
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This sets the max height of the image to 200px */
.services img {
    max-height: 200px;
}

/* Class used to make images float left on the main services section ,this takes them out of normal flow*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* Class used to make images float right on the main services section, this takes them out of normal flow*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* This sets a bottom margin for the services header */
.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* Sets the font size to specific value */
p {
    font-size: 16px;
}

/* Formats the benefits aside with margin, background color, font family, etc. The float property makes the aside float right, Clear: both; moves the element below any floated element */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* This class gives margin and text color to the benefits elements */
.benefitsInfo {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This class gives margin to the h3 benefits name and text color */
.benefitsInfo h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This class specifies style for the icon about benefits */
.benefitsInfo img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Add a padding and clear property to the footer so it floats below the floated elements */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* This class affects only the h4 tag of the footer not the copyright sentence */
.footer h4 {
    font-size: 22px;
}